@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.card1{
  display: flex;
justify-content: center;
align-items: center;
}
.card-title{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.btn{
  display: flex;
  justify-content: center;
  align-items: center;
}
.card1 div{
  margin: 30px;
}
.table{
  display: inline-block;
}
header, table{
  margin-top: 10px ;
  display: flex;
  justify-content: center;
  align-items: center;
}
header input{
  border-radius: 20px;
  text-align: center;  
  margin-right: 10px;
  width: 160px;
}
header button{
  padding: 5px;
  border-radius: 30px;
  background-color: darkmagenta;
  color: #fff;
}
.rs{
  color: rgb(118, 8, 118);
 
}
.inputs{
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn2{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  
}
.btn2 button{
  padding: 10px;
  border: 1px solid pink;
  border-radius: 30px;
  background-color: rgb(36, 121, 249);
  color: #fff;
}



table td {
  
  padding: 5px;
}


